<a href="https://colab.research.google.com/github/chuangchai49097/DWDM21/blob/main/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่มน text

In [ ]:
import pandas #วิธีเรียกใช้ package

In [ ]:
import pandas as pd #ตั้งชื่อ package เป็น pd เพื่อให้ทำงานได้รวดเร็ว

ไฟล์.csv เป็นไฟลฺที่เก็บข้อมูลหลัก และเป็นตารางเข้าใจง่ายๆ

In [ ]:
data_df = pd.read_csv('data.csv')
data_df

    name  age      city
0    Tom   27        LA
1   Paul   15  Verginia
2  Sarah   19    london

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age      city
0    Tom   27        LA
1   Paul   15  Verginia
2  Sarah   19    london

# Basic Python
## variable
1.ชื่้อห้ามเว้นวรรค ใช้ _ 

2.ใช้ชื่อภาษาอังกฤษ ( Colab ใช้ภาษาไทยได้ แต่ไม่ควรใช้)

3.ตัวเล็กกับตัวใหญ่แตกต่างกัน

4.ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde' #เรียกว่า quote
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c #โชว์ variable_a

12

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน(case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [ ]:
print(variable)

1

In [68]:
variables_a =  12
variables_b = 'abcde'  # ' เรียกว่า quote
variables_c = variables_a #ไม่มี quote จะเป็นตัวแปร
variables_d =  -41.2
variables_4 =  "KKU" # " เรียกใช้ double quote

In [69]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [70]:
variables_x = variables_c + variables_d
print(variables_x)

-29.200000000000003

In [71]:
variables_a + variables_b

TypeError: ignored

In [ ]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [72]:
print(variables_x)
print(int(variables_x)) #ตัดทศนิยมออก เป็นจำนวนเต็ม

-29.200000000000003
-29

In [73]:
V_X = str(variables_x)
print(V_X)

-29.200000000000003

In [74]:
V_X + variables_a

TypeError: ignored

In [75]:
variables_a + V_X

TypeError: ignored

In [76]:
V_X # ถ้ามี ' ยังเป็น str อยู่่

'-29.200000000000003'

In [77]:
float(V_X) #เปลี่ยนเป็นตัวเลข

-29.200000000000003

##string คือ list ของตัวหนังสือ

In [ ]:
a = 'stat aku'

List()

In [ ]:
list_a =[1,2,0.2,'abs',] #[]square brackets
list_b =[2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]

[1, 2, 0.0]

In [ ]:
list_b[3][1]#ค่อยๆดูทีละอัน

2

#วิธีสร้าง list ว่าง แบบที่2

In [ ]:
List_c = list() #แบบที่ 1
List_d = [] #แบบที่ 2

การชี้ค่าใน list (indexing)
1.ใช้ลำดับในการชี้
2.ลำดับเริ่มจาก 0
3. สามมารถชี้จากข้างหลังได้โดย negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

#list slicing
เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [ ]:
list_ex[1:6] #เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

#จุดเริ่มต้น:จุดท้ายสุด:

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

list_ex

In [ ]:
list_ex[::2] #การ list

[1, 3, 6, -1, 50]

##format string

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

#Loop
for ตัวแปรที่จะรับค่าจากlist in list ที่จะนำมาวนลูป:do something

In [78]:
for i in [1, 2, 3, 4, 5] :
     print(i+1)

2
3
4
5
6

In [79]:
list5 = [1,2,3,4,5]
for x in list5 :
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [80]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
for i in range(2 ,7) :
    print(i)

2
3
4
5
6

In [82]:
for i in range(2 ,7,2) :
    print(i)

2
4
6

In [83]:
for i in range(5) :
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [85]:
for i in range(5) :
    print('hahaha') 
    x = i+3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

##Nested loop

In [86]:
for i in range(3) :
    print(f'now i = {i} ')  ##เว้นวรรคให้ตรงกัน
    print(' start j loop ')  ##เว้นวรรคให้ตรงกัน
    for j in range(4) : ##เว้นวรรคให้ตรงกัน
          print (f' i = {i} j = {j} i+j = {i+j}')
    print( 'end j loop'  )

now i = 0
 start j loop
 i = 0 j = 0 i+j = 0
 i = 0 j = 1 i+j = 1
 i = 0 j = 2 i+j = 2
 i = 0 j = 3 i+j = 3
end j loop
now i = 1
 start j loop
 i = 1 j = 0 i+j = 1
 i = 1 j = 1 i+j = 2
 i = 1 j = 2 i+j = 3
 i = 1 j = 3 i+j = 4
end j loop
now i = 2
 start j loop
 i = 2 j = 0 i+j = 2
 i = 2 j = 1 i+j = 3
 i = 2 j = 2 i+j = 4
 i = 2 j = 3 i+j = 5
end j loop