<a href="https://colab.research.google.com/github/chuangchai49097/DWDM21/blob/main/Data_Preprocessing_(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import os # จัดการไฟล์และ path

In [15]:
path = '/content/drive/My Drive/DWDM2021_DATA'
data_cases = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

#Meta Data (Data ที่ใช้อธิบาย Data)

##ชี้ข้อมูลในตาราง

##ชี้แบบธรรมดา

In [17]:
data_cases['risk']

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
512617                    ทัณฑสถาน/เรือนจำ
512618                    ทัณฑสถาน/เรือนจำ
512619                    ทัณฑสถาน/เรือนจำ
512620                    ทัณฑสถาน/เรือนจำ
512621                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 512622, dtype: object

### ชี้แบบ .iloc[] (มองข้อมูลเป็น matrix)

In [18]:
data_cases.iloc[678,8]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [19]:
data_cases.iloc[-10:,4:9:2]

        age nationality              risk
512612  NaN         NaN  ทัณฑสถาน/เรือนจำ
512613  NaN         NaN  ทัณฑสถาน/เรือนจำ
512614  NaN         NaN  ทัณฑสถาน/เรือนจำ
512615  NaN         NaN  ทัณฑสถาน/เรือนจำ
512616  NaN         NaN  ทัณฑสถาน/เรือนจำ
512617  NaN         NaN  ทัณฑสถาน/เรือนจำ
512618  NaN         NaN  ทัณฑสถาน/เรือนจำ
512619  NaN         NaN  ทัณฑสถาน/เรือนจำ
512620  NaN         NaN  ทัณฑสถาน/เรือนจำ
512621  NaN         NaN  ทัณฑสถาน/เรือนจำ

In [21]:
data_cases.iloc[-15:,[3,4,8]]

         sex  age              risk
512607  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย  NaN  ทัณฑสถาน/เรือนจำ

##Missing Value

In [22]:
data_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

In [25]:
from matplotlib(data_cases['age'])

SyntaxError: ignored

##Misssing values

*NaN = Not a Number

*Null

In [26]:
data_cases.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
512617  False          False  ...               True               True
512618  False          False  ...               True               True
512619  False          False  ...               True               True
512620  False          False  ...               True               True
512621  False          False  ...               True               True

[512622 rows x 11 columns]

In [27]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

handling Missing value 1(ลบค่า missing)

In [34]:
plt.boxplot(data_cases['age'].dropna())

NameError: ignored

In [31]:
data_cases.dropna().shape

(362205, 11)

Quiz 3 ให้ หาว่าการทำ dropna() ทำให้ข้อมูลหายไปกี่%

In [36]:
data_cases.shape
data_cases.dropna().shape

SyntaxError: ignored

(512622, 11)